<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enjoy Your To-Do List App!</title>
</head>
<body>
    <h1>
        {% block header_text %}
        {% endblock %}
    </h1>

    <form method="POST" action="{% block form_action %}{% endblock %}">
        {% csrf_token %}
        <input id="new_item_input" name="new_item_text" placeholder="Enter a new to-do item">
    </form>

    {% block table %}
    {% endblock %}

</body>
</html>
