<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do lists</title>
</head>
<body>
    <h1 style="text-align: center;">Enjoy Your To-Do List App!</h1>
    
    <p><b>
        Start a new To-Do list
    </b></p>

    <form method="POST" action="/lists/new">
        {% csrf_token %}
        <input id="new_item_input" name="new_item_text" placeholder="Enter a new to-do item">
    </form>

</body>
</html>
