<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do lists</title>
</head>
<body>
    <h1 style="text-align: center;">Enjoy Your To-Do List App!</h1>
    
    <p><b>
        Enter your to-do item in the input-box below and hit Enter!
    </b></p>

    <form method="POST" action="/">
        {% csrf_token %}
        <input id="new_item_input" name="new_item_text" placeholder="Enter a new to-do item">
    </form>

    <table id="items_table">
        {% for item in items %}
            <tr>
                <td>{{ forloop.counter }}: {{ item.text }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
